body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#container-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}
